html {
	font-size: $base-font-size;
	height: 100%;
	line-height: $base-line-height;
	@media screen and (min-width: 993px){
		overflow: hidden !important;
	}
}
body {
	color: $base-color;
	font-weight: 400;
	height: 100%;
	font-family: 'Nunito';
	@media screen and (min-width: 993px){
		overflow: hidden !important;
	}
}
a {
	color: $base-color;
	text-decoration: none;
	font-size: rem(16px);
}
p {
	line-height: $base-line-height;
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img,abbr {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ul li {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
legend {
	color: $base-color;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
}
*, *:before, *:after {
	box-sizing: border-box;
}
.container {
	@include wrapper();
}

.img-wrap,.img-cover-wrap {
	display: inline-flex;
	align-items: flex-start;
	img {
		max-width: 100%;
		height: auto;
	}
}

.img-cover-wrap {
	width: 100%;
	img {
		width: 100%;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-end {
	justify-content: flex-end;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.text-center {
	width: 100%;
	text-align: center;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}