// @include font-face(Font-family, Font path(src), Font-weight, Font-style, format);

@font-face {
  font-family: 'DS Diploma';
  src: url('../fonts/DSDiploma.eot');
  src: local('DS Diploma'), local('DSDiploma'),
  url('../fonts/DSDiploma.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DSDiploma.woff2') format('woff2'),
  url('../fonts/DSDiploma.woff') format('woff'),
  url('../fonts/DSDiploma.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.eot');
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Thin.eot');
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
  url('../fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Italic.eot');
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-LightItalic.eot');
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url('../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-BlackItalic.eot');
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ThinItalic.eot');
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}




@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Bold.eot');
  src: url('../fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-Bold.woff') format('woff'),
  url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-LightItalic.eot');
  src: url('../fonts/Nunito/Nunito-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-LightItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Light.eot');
  src: url('../fonts/Nunito/Nunito-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-Light.woff') format('woff'),
  url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLight.eot');
  src: url('../fonts/Nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-ExtraLight.woff') format('woff'),
  url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.eot');
  src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Black.eot');
  src: url('../fonts/Nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-Black.woff') format('woff'),
  url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.eot');
  src: url('../fonts/Nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-SemiBold.woff') format('woff'),
  url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.eot');
  src: url('../fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-Regular.woff') format('woff'),
  url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBold.eot');
  src: url('../fonts/Nunito/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-ExtraBold.woff') format('woff'),
  url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-BlackItalic.eot');
  src: url('../fonts/Nunito/Nunito-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-BlackItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Italic.eot');
  src: url('../fonts/Nunito/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-Italic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-BoldItalic.eot');
  src: url('../fonts/Nunito/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-BoldItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBoldItalic.eot');
  src: url('../fonts/Nunito/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.eot');
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito/Nunito-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

