.section {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  overflow: hidden;
}

.additional-section {
  z-index: 2;
  background-position: top center;
  background-color: transparent;
}

.title-section-additional-text {
  font-size: 10vh;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: #f9cf8b;
  line-height: 1;
  span {
    font-size: 30px;
    @media screen and (max-width: 992px){
      font-size: 12px;
    }
    &:first-child {
      writing-mode: initial;
      font-size: 180px;
      font-weight: 500;
      @media screen and (max-width: 992px){
        font-size: 74px;
      }
    }
    &:last-child {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }
  @media screen and (max-width: 992px){
    position: absolute;
    top: 15%;
    left: 30px;
  }
}

.products-catalog-section {
  background-color: #fce2df;
}

.main-section {
  padding: 0 10vw;
  flex-wrap: wrap;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: url('../img/content/title-section.png');
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 73px;
    background-image: url("../img/content/title-section-bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  @media screen and (max-width: 992px){
    //background-image: url('../img/content/title-section-mob.png');
    background-position: 30% center;
    justify-content: center;
    padding: 0 15px;
  }
}

.title-section-text {
  font-size: 7vh;
  span {
    padding-right: 3vh;
  }
  @media screen and (max-width: 992px){
    font-size: 9vw;
    //font-size: 4vh;
    //line-height: 4vh;
    letter-spacing: .1vh;
    text-shadow: 0 0 7px #740000;
    line-height: 11vw;
    span {
      padding-right: 3vw;
    }
  }
  @media screen and (min-width: 993px) {
    font-family: 'DS Diploma';

  }
}

.main-section-brand {
  width: 50vh;
  @media screen and (max-width: 992px){
    width: 200px;
  }
}

.title-section-description-block {
  display: inline-flex;
  color: #ffd098;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 9vh;
  height: 100vh;
  margin-top: -50px;
  @media screen and (max-width: 992px){
    margin-top: 0;
    justify-content: flex-start;
    padding-top: 60px;
    line-height: 50px;
    align-items: center;
  }
}

.product-description-wrap {
  @media screen and (max-width: 992px){
    flex: 0 0 100%;
    max-width: 100%;
    order: 3;
  }
}


.product-1 {
  background-image: url("../img/content/product-main-background-1.png");
  .product-title {
    color: #ed6b23;
  }
  .img-wrap {
    &:after {
      background-image: url("../img/content/product-1.png");
    }
  }
  .product-characteristics {
    background-color: #e16f27;
    color: #e6e6e4;
  }
  .product-description-block {
    p {
      color: #ffd9b4;
    }
  }
  .product-code {
    color: #fcbb70;
  }
}

.product-2 {
  background-image: url("../img/content/product-main-background-2.png");
  .product-title {
    color: #bd4253;
  }
  .img-wrap {
    &:after {
      background-image: url("../img/content/product-2.png");
    }
  }
  .product-characteristics {
    background-color: #83102a;
    color: #f5aaa3;
  }
  .product-description-block {
    p {
      color: #f3bcb6;
    }
  }
  .product-code {
    color: #f29385;
  }
}

.product-3 {
  background-image: url("../img/content/product-main-background-3.png");
  .product-title {
    color: #ef7a07;
  }
  .img-wrap {
    &:after {
      background-image: url("../img/content/product-3.png");
    }
  }
  .product-characteristics {
    background-color: #f8af38;
    color: #ffecd2;
  }
  .product-description-block {
    p {
      color: #f8b166;
    }
  }
  .product-code {
    color: #f8b166;
  }
}

.product-4 {
  background-image: url("../img/content/product-main-background-4.png");
  .product-title {
    color: #fff;
  }
  .img-wrap {
    &:after {
      background-image: url("../img/content/product-4.png");
    }
  }
  .product-characteristics {
    background-color: #be6734;
    color: #ffecd2;
  }
  .product-description-block {
    p {
      color: #5b3512;
    }
    .product-characteristics-item {
      &:after {
        background-color: #c68662;
      }
    }
  }
  .product-code {
    color: #5b3512;
  }
}

.product-5 {
  background-image: url("../img/content/product-main-background-5.png");
  .product-title {
    color: #fff;
  }
  .img-wrap {
    &:after {
      background-image: url("../img/content/product-5.png");
    }
  }
  .product-characteristics {
    background-color: #6ab233;
    color: #ffecd2;
  }
  .product-description-block {
    p {
      color: #6ab233;
    }
    .product-characteristics-item {
      &:after {
        background-color: #9fc964;
      }
    }
  }
  .product-code {
    color: #6ab233;
  }
}

.product-6 {
  background-position: center center;
  background-image: url("../img/content/product-main-background-6.png");
  .product-title {
    color: #fff;
  }
}

.product-content-wrap {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 992px){
    justify-content: flex-end;
  }
}

.product-content {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
}

.product-image {
  display: flex;
  justify-content: center;
  padding: 0 5vh;
  .img-wrap {
    align-self: flex-end;
    position: relative;
    max-width: 55vh;
    &:after {
      position: absolute;
      content: '';
      display: block;
      z-index: 1;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  @media screen and (max-width: 992px){
    align-items: flex-start;
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 23vh;
    top: 80px;
    padding: 0;
  }
}

.product-title {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 5vh 0 0;
  font-size: 44px;
  line-height: 1;
  font-weight: 700;
  //font-family: 'Montserrat';
  z-index: 1;
  @media screen and (max-width: 992px){
    font-size: 25px;
    padding: 2vh 0 0;

  }
}

.product-description-block {
  flex: 0 0 55%;
  max-width: 55%;
  align-self: flex-end;
  position: relative;
  padding-bottom: 4vh;
  p {
    //color: #ed6b23;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 2vh;
    font-weight: 700;
    @media screen and (max-width: 992px){
      font-size: 13px;
      line-height: 14px;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 992px){
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    padding: 0 10px 20px;
  }
}

.new-label {
  position: absolute;
  text-transform: uppercase;
  bottom: calc(100% + 10px);
  color: #37070b;
  font-size: 22px;
  background-color: #e16f27;
  padding: 0 5px;
  z-index: 1;
}

.product-characteristics {
  max-width: 320px;
  height: 64px;
  display: flex;
  @media screen and (max-width: 992px){
    margin: 0 auto;
  }
}

.product-characteristics-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #612112;
    top: .8vh;
    bottom: .8vh;
    right: 0;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  span {
    font-size: 18px;
    &:first-child {
      text-align: center;
      font-size: 8px;
      text-transform: uppercase;
    }
  }
}

.product-code {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 1.2vh;
  @media screen and (max-width: 992px){
    text-align: center;
  }
}

#fp-nav {
  ul {
    li {
      a {
        position: relative;
        &:after {
          z-index: -1;
          position: absolute;
          content: '';
          display: block;
          background-color: rgba(255, 255, 255, 0.6);
          height: 16px;
          width: 16px;
          transform: translate(-50%,-50%);
          left: 50%;
          top: 50%;
          border-radius: 50%;
        }
        span {
          background-color: #b55c2b !important;
        }
      }
    }
  }
}

.product-package-img {
  align-self: flex-end;
  display: inline-flex;
  margin-bottom: 10vh;
  padding-right: 10vh;
  @media screen and (max-width: 992px){
    margin-bottom: 0;
    padding-right: 10px;
    z-index: 1;
  }
}

.product-additional-block {
  flex-wrap: wrap;
  @media screen and (max-width: 992px){
    align-items: flex-start;
    margin-top: -50px;
  }
}

.title-section-additional-text {
  @media screen and (max-width: 992px){
    display: inline-flex;
    align-items: center;
    text-shadow: 0 0 7px #6a0101;
  }
}

.product-structure-img {
  border-radius: 50%;
  overflow: hidden;
}

.product-structure {
  align-self: flex-end;
  flex: 0 0 30%;
  max-width: 30%;
  color: #fff;
  font-weight: 200;
  position: relative;
  @media screen and (max-width: 992px){
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.product-structure-title {
  font-size: 45px;
  position: absolute;
  bottom: 100%;
  white-space: nowrap;
  line-height: 45px;
  transform: translateX(-50%);
  left: 50%;
  @media screen and (max-width: 992px){
    font-size: 20px;
  }
}

.product-structure-item {
  position: absolute;
  left: 100%;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  span {
    position: relative;
    padding-left: 20px;
    line-height: 30px;
    &:after {
      position: absolute;
      background-color: #fff;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      content: '';
      display: block;
      top: calc(50% + 2px);
      left: 0;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-left: 10px;
    }
    @media screen and (max-width: 992px){
      padding-left: 10px;
      line-height: 15px;
      font-size: 10px;
      &:last-child {
        margin-left: 4px;
      }
      &:after {
        width: 4px;
        height: 4px;
      }
    }
  }
  @media screen and (max-width: 992px){
    font-size: 16px;
  }
}

#fp-nav {
  @media screen and (max-width: 992px){
    display: none !important;
  }
}

.product-parallax-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30vh;
  right: 20vh;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  @media screen and (max-width: 992px){
    display: none;
  }
}

.footer-wrap {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .product-title {
    flex: initial;
    max-width: initial;
  }
}

.contacts-block {

}

.social-block {
  display: flex;
  justify-content: center;
  li {
    display: inline-flex;
    margin-right: 24px;
    max-width: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-flex;
  }
  @media screen and (max-width: 992px){
    li {
      margin-right: 10px;
      max-width: 40px;
      padding-top: 10px;
    }
  }
}

.footer-telephone {
  font-weight: 300;
  color: #c68662;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3vh;
  span {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.footer-telephone-subtitle {
  font-size: 20px;
  line-height: 25px;
  @media screen and (max-width: 992px){
    font-size: 12px;
    line-height: 14px;
  }
}

.footer-telephone-number {
  font-size: 47px;
  line-height: 60px;
  margin: 1vh 0;
  a {
    margin-left: 3px;
  }
  * {
    font-size: inherit;
    color: #c68662;
  }
  @media screen and (max-width: 992px){
    font-size: 20px;
    line-height: 30px;
  }
}

.video-block {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  iframe {
    width: 860px;
    height: 484px;
    @media screen and (max-width: 1400px){
      width: 560px;
      height: 315px;
    }
    @media screen and (max-width: 992px){
      width: 290px;
      height: 163px;
    }
  }
}

.video-title {
    text-align: center;
  background-color: #6b3127;
  color: #fff;
  padding: 4px 0;
  font-size: 18px;
  @media screen and (max-width: 992px){
    font-size: 12px;
  }
}

.header-wrap {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
}

.header-block {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  align-items: center;
  display: flex;
}

.logo {
  display: inline-flex;
  position: relative;
  .sub-logo {
    position: absolute;
    left: -3vw;
    top: 3vw;
    transform: translate(-100%, 0);
    @media screen and (max-width: 1200px){
      max-width: 150px;
    }
    @media screen and (max-width: 992px){
      transform: translateX(-50%);
      left: 50%;
      bottom: -50px;
      top: initial;
      width: 300px;
    }
  }
  @media screen and (max-width: 992px){
    max-width: 150px;
  }
}

.lang-selector {
  display: flex;
  //margin-top: 3vw;
  a {
    font-size: 18px;
    color: #e0e0e0;
    font-weight: 700;
    margin-right: 10px;
  }
  li {
    &:last-child a {
      margin-right: 0;
    }
  }
  .current {
    color: #ff1425;
    pointer-events: none;
  }
}

.header-contacts-block {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 992px){
    max-width: 150px;
    margin-top: 20px;
    padding-left: 10px;
  }
}

.header-social-block {
  li {
    margin-left: 15px;
    display: inline-flex;
    @media screen and (max-width: 992px){
      margin-left: 0;
    }
    a {
      display: inline-flex;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 992px){
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0;
    justify-content: space-between;
  }
}

.header-contacts-link {
  line-height: 1;
  font-size: 18px;
  color: #d79a82;
  text-transform: uppercase;
  margin-right: 15px;
  @media screen and (max-width: 992px){
    //margin-right: 0;
    //font-size: 10px;
    //flex: 0 0 50%;
    //max-width: 50%;
    //font-weight: 700;
    display: none;
  }
}

.products-catalog-item {
  display: flex;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 50px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1200px){
    padding: 0 20px;
  }
  @media screen and (max-width: 992px){
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    &:hover .products-catalog-img {
      transition: .3s ease;
      margin-top: -10px;
    }
  }
}

.products-catalog-img {
  transition: .3s ease;
  //align-items: flex-end;
}

.products-catalog-block {
  padding: 0 10vw;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 992px){
    padding: 0 9vh;
  }
  .product-title {
    color: #5b3512;
  }
}

.products-catalog-slider {

  @media screen and (min-width: 768px){
    flex: 0 0 100%;
    max-width: 100%;
      display: flex;
      justify-content: space-between;
      & > div {
        //align-items: stretch;
        display: flex;
        justify-content: center;
        flex: 0 0 20%;
        max-width: 20%;
      }
  }
}

.products-catalog-title {
  text-align: center;
  justify-content: center;
  color: #7d4e24;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-top: 3vw;
  @media screen and (max-width: 1200px){
    font-size: 16px;
  }
}

.products-catalog-weight {
  color: #7d4e24;
  font-size: 16px;
  padding-top: 10px;
  justify-content: center;
}

.new-label-catalog {
  position: relative;
  &:after {
    content: "new *";
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateX(-50%);
    left: 50%;
    bottom: 100%;
  }
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 30px;
  @media screen and (max-width: 1200px){
    max-width: 14px;
    bottom: 5px;
  }
}

.products-catalog-section {
  @media screen and (max-width: 768px) {
    padding-bottom: 30px;
  }
}

.owl-dots {
  @media screen and (max-width: 768px){
    display: flex;
    justify-content: center;
    padding-top: 15px;
    span {
      display: block;
      height: 16px;
      width: 16px;
      background-color: #7d4e24;
      border-radius: 50%;
      margin-right: 20px;
      position: relative;
    }
    button {
      &:last-child span {
        margin-right: 0;
      }
    }
    .active {
      span {
        &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: white;
          height: 8px;
          width: 8px;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          border-radius: 50%;
          opacity: .8;
        }
      }
    }
  }
}

.additional-mobile-img {
  position: absolute;
  max-width: 40vw;
  top: 30vw;
}

.additional-mobile-img {
  @media screen and (min-width: 993px) {
    display: none;
  }
}

.wow {
  @media screen and (max-width: 992px) {
    visibility: hidden;
  }
}