.section.main-section
    .header-wrap
        .header-block
            ul.lang-selector
                li
                    a.current(href="") Ua
                li
                    a(href="") Ru
        .header-block.d-flex.justify-content-center
            .logo.d-flex.justify-content-center.align-items-center
                a(href="https://lasunka.com/" target="_blank").img-wrap
                    img(src='./assets/img/content/logo.png')
        .header-block.justify-content-end.d-flex

    .title-section-additional-text
        span 2
        span глазурі
    .title-section-description-block.d-flex.flex-column.align-items-center
        .main-section-brand
            .img-wrap
                img(src='./assets/img/content/main-section-brand.png')
        h1.title-section-text Ексклюзивно<br>ескiмо<br><span>у</span>подвiйнiй<br>глазурi
    a(href="#products-catalog-section/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-1.png')
.section.products-catalog-section
    .products-catalog-block
        .product-title Смаки морозива «Лев»
        .products-catalog-slider.owl-carousel
            div
                a.products-catalog-item(href="#product-1/2" style="background-image: url('./assets/img/content/product-catalog-background-1.png');")
                    .products-catalog-img.new-label-catalog
                        .img-wrap
                            img(src='./assets/img/content/catalog-product-1.png')
                    .products-catalog-title Пломбір<br>deluxe апельсин
                    .products-catalog-weight 95 g(г)
            div
                a.products-catalog-item(href="#product-2/2" style="background-image: url('./assets/img/content/product-catalog-background-2.png');")
                    .products-catalog-img
                        .img-wrap
                            img(src='./assets/img/content/catalog-product-2.png')
                    .products-catalog-title Пломбір<br>deluxe вишня
                    .products-catalog-weight 95 g(г)
            div
                a.products-catalog-item(href="#product-3/2" style="background-image: url('./assets/img/content/product-catalog-background-1.png');")
                    .products-catalog-img
                        .img-wrap
                            img(src='./assets/img/content/catalog-product-3.png')
                    .products-catalog-title Пломбір<br>deluxe маракуя
                    .products-catalog-weight 95 g(г)
            div
                a.products-catalog-item(href="#product-4/2" style="background-image: url('./assets/img/content/product-catalog-background-2.png');")
                    .products-catalog-img
                        .img-wrap
                            img(src='./assets/img/content/catalog-product-4.png')
                    .products-catalog-title Морозиво<br>лісовий горіх
                    .products-catalog-weight 85 g(г)
            div
                a.products-catalog-item(href="#product-5/2" style="background-image: url('./assets/img/content/product-catalog-background-1.png');")
                    .products-catalog-img
                        .img-wrap
                            img(src='./assets/img/content/catalog-product-5.png')
                    .products-catalog-title Морозиво<br>фісташка
                    .products-catalog-weight 85 g(г)
    a(href="#product-1/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-2.png')
.section.product-1
    .additional-mobile-img.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
        .img-wrap
            img(src='./assets/img/content/product-1-mobile-additional-img.png')
    .product-parallax-bg(style="background-image: url('./assets/img/content/product-parallax-bg-1.png');")
    .product-content-wrap
        .product-title Лев Deluxe апельсин <span class="text-uppercase"> new*</span>
        .product-content.product-description-wrap.justify-content-end
            .product-description-block
                p Мікс шоколаду та апельсину – це незвичайне смакове поєднання смаків, визнане неперевершеним не тільки в колі десертів, але й в світі морозива.<br><br>Солодкі цитрусові нотки, які дає апельсиновий джем, просто ідеально поєднуються з ніжним смаком шоколадного морозива.<br><br>Цей мікс припаде до смаку навіть самим вибагливим ласунам.
                .product-characteristics
                    .product-characteristics-item
                        span Маса нетто
                        span 95 g(г)
                    .product-characteristics-item
                        span Молочного жиру
                        span 15 %
                    .product-characteristics-item
                        span Коробка
                        span 24 шт
                .product-code Код товару: 4820193554274
                .new-label *New
        .product-content.product-image
            .img-wrap
                img(src='./assets/img/content/product-background-1.png')
        .product-content.product-additional-block
            .product-structure
                .product-structure-title 2 глазурі
                .product-structure-item
                    span шоколад
                    span апельсин
                .product-structure-img
                    .img-wrap
                        img(src='./assets/img/content/product-structure-1.png')
            .product-package-img.wow.bounceIn.animated(data-wow-duration="1s" data-wow-delay="1s")
                .img-wrap
                    img(src='./assets/img/content/product-package-1.png')
    a(href="#product-2/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-3.png')
.section.product-2
    .additional-mobile-img.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
        .img-wrap
            img(src='./assets/img/content/product-2-mobile-additional-img.png')
    .product-parallax-bg(style="background-image: url('./assets/img/content/product-parallax-bg-2.png');")
    .product-content-wrap
        .product-title Лев Deluxe вишня
        .product-content.product-description-wrap.justify-content-end
            .product-description-block
                p Морозиво пломбір «Лев делюкс», технологія виробництва якого складна й унікальна: обладнання, на якому виробляються ці види морозива, єдине в Україні і дозволяє покривати морозиво двома видами глазурі: джемною та шоколадною. Так з'явився на прилавках «Лев» у подвійний глазурі шоколад-вишня, який свого часу став нашим головним відкриттям!
                .product-characteristics
                    .product-characteristics-item
                        span Маса нетто
                        span 95 g(г)
                    .product-characteristics-item
                        span Молочного жиру
                        span 15 %
                    .product-characteristics-item
                        span Коробка
                        span 24 шт
                .product-code Код товару: 4820193554311
        .product-content.product-image
            .img-wrap
                img(src='./assets/img/content/product-background-2.png')
        .product-content.product-additional-block
            .product-structure
                .product-structure-title 2 глазурі
                .product-structure-item
                    span шоколад
                    span вишня
                .product-structure-img
                    .img-wrap
                        img(src='./assets/img/content/product-structure-2.png')
            .product-package-img.wow.bounceIn.animated(data-wow-duration="1s" data-wow-delay="1s")
                .img-wrap
                    img(src='./assets/img/content/product-package-2.png')
    a(href="#product-3/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-3.png')
.section.product-3
    .additional-mobile-img.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
        .img-wrap
            img(src='./assets/img/content/product-3-mobile-additional-img.png')
    .product-parallax-bg(style="background-image: url('./assets/img/content/product-parallax-bg-3.png');")
    .product-content-wrap
        .product-title Лев Deluxe маракуя
        .product-content.product-description-wrap.justify-content-end
            .product-description-block
                p Морозиво пломбір серії «Лев» вже 18 років залишається улюбленим десертом наших покупців. У цьому сезоні «Лев делюкс» здивує шанувальників цього морозива новими екзотичними смаками. Новий десерт поєднує в собі ніжність солодкої молочної глазурі і яскравий насичений смак тропічної маракуї.
                .product-characteristics
                    .product-characteristics-item
                        span Маса нетто
                        span 95 g(г)
                    .product-characteristics-item
                        span Молочного жиру
                        span 15 %
                    .product-characteristics-item
                        span Коробка
                        span 24 шт
                .product-code Код товару: 4820193554298
        .product-content.product-image
            .img-wrap
                img(src='./assets/img/content/product-background-3.png')
        .product-content.product-additional-block
            .product-structure
                .product-structure-title 2 глазурі
                .product-structure-item
                    span шоколад
                    span маракуя
                .product-structure-img
                    .img-wrap
                        img(src='./assets/img/content/product-structure-3.png')
            .product-package-img.wow.bounceIn.animated(data-wow-duration="1s" data-wow-delay="1s")
                .img-wrap
                    img(src='./assets/img/content/product-package-3.png')
    a(href="#product-4/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-3.png')
.section.product-4
    .additional-mobile-img.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
        .img-wrap
            img(src='./assets/img/content/product-4-mobile-additional-img.png')
    .product-parallax-bg(style="background-image: url('./assets/img/content/product-parallax-bg-4.png');")
    .product-content-wrap
        .product-title Лев лісовий горіх
        .product-content.product-description-wrap.justify-content-end
            .product-description-block
                p Ескімо "Лев" - це справжня горіхова насолода! Біле ванільне морозиво покрите найсмачнішою апетитною скоринкою з корисного чорного шоколаду з фундуком. Через найніжніший пломбір проходить стрічка з дивовижного шоколадного морозива. Але найголовніше - це, звісно, фундук! Вкраплення великих шматочків смаженого фундука роблять вишукані ласощі ще більш незвичними та незабутніми. Поєднання смаків, дійсно, божественне! Цей "Лев" нехай не міцний, але смачний горішок!
                .product-characteristics
                    .product-characteristics-item
                        span Маса нетто
                        span 85 g(г)
                    .product-characteristics-item
                        span Молочного жиру
                        span 12 %
                    .product-characteristics-item
                        span Коробка
                        span 22 шт
                .product-code Код товару: 4820012596294
        .product-content.product-image
            .img-wrap
                img(src='./assets/img/content/product-background-4.png')
        .product-content.product-additional-block
            .product-structure
                .product-structure-title морозиво
                .product-structure-item
                    span шоколад
                    span фундук
                .product-structure-img
                    .img-wrap
                        img(src='./assets/img/content/product-structure-4.png')
            .product-package-img.wow.bounceIn.animated(data-wow-duration="1s" data-wow-delay="1s")
                .img-wrap
                    img(src='./assets/img/content/product-package-4.png')
    a(href="#product-5/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-3.png')
.section.product-5
    .additional-mobile-img.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
        .img-wrap
            img(src='./assets/img/content/product-5-mobile-additional-img.png')
    .product-parallax-bg(style="background-image: url('./assets/img/content/product-parallax-bg-5.png');")
    .product-content-wrap
        .product-title Лев фісташковий
        .product-content.product-description-wrap.justify-content-end
            .product-description-block
                p Фісташкове морозиво поповнило асортимент лінійки ескімо ТМ «Ласунка»!<br><br>Популярний смак улюблених горіхів у звабливій глазурі  - позиція, що приречена бути успішною!
                .product-characteristics
                    .product-characteristics-item
                        span Маса нетто
                        span 85 g(г)
                    .product-characteristics-item
                        span Молочного жиру
                        span 12 %
                    .product-characteristics-item
                        span Коробка
                        span 22 шт
                .product-code Код товару: 4820012596300
        .product-content.product-image
            .img-wrap
                img(src='./assets/img/content/product-background-5.png')
        .product-content.product-additional-block
            .product-structure
                .product-structure-title морозиво
                .product-structure-item
                    span шоколад
                    span фісташки
                .product-structure-img
                    .img-wrap
                        img(src='./assets/img/content/product-structure-5.png')
            .product-package-img.wow.bounceIn.animated(data-wow-duration="1s" data-wow-delay="1s")
                .img-wrap
                    img(src='./assets/img/content/product-package-5.png')
    a(href="#product-6/2").arrow-down
        .img-wrap
            img(src='./assets/img/content/down-3.png')
.section.product-6
    .footer-wrap
        .product-title Наш youtube канал
        .video-block <iframe src="https://www.youtube.com/embed/tp9jqTzcQwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video-title «<span class="text-uppercase">Лев</span> DeLuxe» - одне морозиво дві глазурі!
        .contacts-block
            ul.social-block
                li
                    a(href="https://www.facebook.com/lasunka.tm/" target="_blank")
                        .img-wrap
                            img(src='./assets/img/content/footer-fb.png')
                li
                    a(href="https://www.youtube.com/channel/UC8g762EHFf7OiqN8eDr0eew" target="_blank")
                        .img-wrap
                            img(src='./assets/img/content/footer-yt.png')
                li
                    a(href="https://instagram.com/lasunka_icecream?igshid=l0mbgqseylww" target="_blank")
                        .img-wrap
                            img(src='./assets/img/content/footer-inst.png')
                li
                    a(href="./audio/Lasunka.mp3" download)
                        .img-wrap
                            img(src='./assets/img/content/footer-mic.png')
            .footer-telephone
                span.footer-telephone-number Гаряча лінія:
                    a(href="tel:0800407000") 0800 40 70 00
                span.footer-telephone-subtitle Дзвінки безкоштовні по всій території України<br>(Крім дзвінків з мобільних телефонів)